.grid-container {
	position:		relative;
	overflow:		hidden;
	
	.grid_marker	{
		position:				absolute;
		width:					7px;
		height:					7px;
		background-repeat:		no-repeat;
		background-position:	center center;
		background-image:		url("images/grid.png");
	}
}

.widget-helper {
	position:		absolute;
	display:		none;
	width:			150px;
	height:			50px;
	
	&.shadow {
		background-color:	#EAC14D;
	}
	&.visible {
		display:			block;
	}
}